body {
    margin: 0;
    cursor: url('/public/assets/cursors/cursor.png') 2 2, auto;
    overflow-x: hidden;
}

a, a svg, button {
    cursor: url('/public/assets/cursors/cursor-on-click.png') 2 2, auto !important;
}

.clickable {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url('/public/Assets/Cursors/CursorOnClick.png') 2 2, auto !important;
}
